.button {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1;
  font-weight: 700;
}

.button--primary {
  background-color: var(--gold);
  color: var(--black);
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
}

.button--primary:hover {
  background-color: var(--golden-brown);
}

.button--primary:active {
  color: var(--white);
  box-shadow: none;
  background-color: var(--golden-brown);
}

.button--secondary {
  background-color: var(--turquoise);
  color: var(--black);
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
}

.button--secondary:hover {
  background-color: var(--dark-turquoise);
}

.button--secondary:active {
  color: var(--white);
  box-shadow: none;
  background-color: var(--dark-turquoise);
}

.button--small {
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
}

.button--medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.button--large {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}