.toggle-button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle-button-label {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--gold);
}

.toggle-button {
  border-radius: 0.75rem;
  background-color: var(--gold);
  padding: 0.1875rem;
  display: inline-flex;
  height: 2rem;
}

.toggle-button--secondary .toggle-button {
  background-color: var(--turquoise);
}

.toggle-button--secondary .toggle-button-label {
  color: var(--turquoise);
}

.toggle-button--light .toggle-button-label {
  color: var(--black);
}

.toggle-button span {
  padding: 0.1875rem 0.5rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.toggle-button[aria-checked="true"] span:first-child,
.toggle-button[aria-checked="false"] span:last-child {
  background: #000;
  color: var(--gold);
}

.toggle-button--secondary .toggle-button[aria-checked="true"] span:first-child,
.toggle-button--secondary .toggle-button[aria-checked="false"] span:last-child {
  color: var(--turquoise);
}

.toggle-button--small .toggle-button {
  border-radius: 0.5625rem;
  height: 1.5rem
}

.toggle-button--small .toggle-button-label {
  font-size: 1.125rem;
}

.toggle-button--small .toggle-button span {
  padding: 0.14rem 0.375rem;
  line-height: 0.75rem;
  border-radius: 0.375rem;
}

.toggle-button--medium .toggle-button {
  border-radius: 0.75rem;
  height: 2rem
}

.toggle-button--large .toggle-button {
  border-radius: 1.125rem;
  height: 3rem;
  font-size: 1.5rem;
}

.toggle-button--large .toggle-button-label {
  font-size: 2.25rem;
}

.toggle-button--large .toggle-button span {
  padding: 0.5rem 0.75rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
}