.midi-selects {
	display: flex;
	flex-direction: row;
}

.midi-select {
	padding-inline: 0.5rem;
}

.midi-select label,
.midi-select select,
.midi-select input {
	font-size: 1.4rem;
	padding: 0.2rem;
}

.midi-select label {
	padding-right: 0.5rem;
}

.midi-select select,
.midi-select input {
	background-color: var(--turquoise);
}