.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--black);
  font-size: calc(10px + 2vmin);
  padding: 1rem;
  color: var(--gold);
}

.control__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.control__heading {
  font-size: 1.4rem;
  margin: 0;
  padding: 0.1rem 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.button--primary {
  background-color: var(--gold);
  color: var(--black);
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
}

.button--primary:hover {
  background-color: var(--golden-brown);
}

.button--primary:active {
  color: var(--white);
  box-shadow: none;
  background-color: var(--golden-brown);
}

.button--secondary {
  background-color: var(--turquoise);
  color: var(--black);
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
}

.button--secondary:hover {
  background-color: var(--dark-turquoise);
}

.button--secondary:active {
  color: var(--white);
  box-shadow: none;
  background-color: var(--dark-turquoise);
}

select,
input {
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: var(--turquoise);
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
}

.flex-row,
.flex-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.flex-column {
  flex-direction: column;
}

.flex-column--start {
  align-items: flex-start;
}