@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Light.ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-LightItalic.ttf");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}