@import url("./font.css");

:root {
  --gold: #CBB090;
  --turquoise: #97D5D3;
  --dark-turquoise: #58807E;
  --black: #000;
  --red: #E8909C;
  --brown: #3E3032;
  --golden-brown: #AA785D;
  --white: #fff;
  --primary-font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility classes for layout */
.flex-row,
.flex-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.flex-column {
  flex-direction: column;
}

.flex-column--start {
  align-items: flex-start;
}

.force-wrap {
  word-break: break-all;
}

/* Buttons and inputs */
select,
input {
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: var(--turquoise);
  border: 2px solid var(--white);
  box-shadow: 0 0 2px var(--black);
}

input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
}