:root {
  --gold: #CBB090;
  --turquoise: #97D5D3;
  --dark-turquoise: #58807E;
  --black: #000;
  --red: #E8909C;
  --brown: #3E3032;
  --golden-brown: #AA785D;
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}